.body{
    background-color:#FBFFE2;  
}

.box{
    width:500px;
    height: 500px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;                           
    border: 1px  white solid;
    border-radius: 30px;
    box-shadow: 3px 3px grey;
}
.heading{
    margin-left: 50px;
    color: rgb(2, 179, 140); ;
}
.image{
    margin-left: 190px;
}
